<a href="https://colab.research.google.com/github/Sumanth1242/MKsumanth_data690/blob/main/assignment_03/assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Printing 100 random numbers in a 10 by 10 matrix

In [3]:
import random

In [6]:
for i in range(10):
  for j in range(10):
    print(random.randint(0,9),end=" ")
  print()

1 8 2 2 5 3 9 0 6 5
7 8 9 9 4 1 3 4 7 0
8 6 7 5 8 9 0 7 8 1
1 1 3 8 3 7 9 7 4 4
0 1 3 3 0 5 9 2 8 9
6 9 3 5 2 9 3 1 0 5
9 8 9 9 5 5 4 4 8 2
1 3 3 2 4 3 1 4 4 2
5 6 3 3 4 8 9 5 3 2
6 4 3 6 7 5 9 6 7 5

#  2.printing "@",If the random number is an odd number

In [7]:
for i in range(10):
  for j in range(10):
    x=random.randint(0,9)
    if(x+1)%2==0:
      x="@"
      print(x,end=" ")
    else:
      print(x,end=" ")
  print()

@ 8 @ @ 8 @ 4 @ @ 8
@ 8 @ @ @ 0 @ @ @ 2
@ @ 0 @ @ @ @ 2 @ @
0 4 4 4 4 @ 8 @ @ @
@ 2 @ @ @ @ @ 2 0 @
6 @ @ @ @ @ @ 2 0 @
4 0 4 @ 4 @ @ @ 8 @
@ @ 4 0 4 @ 0 @ @ @
@ @ @ @ @ @ @ 4 @ 0
@ 6 @ @ 2 @ @ 4 @ 6

# 3.Calculating and Printing the total of each row

In [8]:
for i in range(10):
  l=[]
  for j in range(12):
    if j<10:
      x=random.randint(0,9)
      l.append(x)
      print(x,end=" ")
    elif j==10:
      print("*",end=" ")
    else:
      s=sum(l)
      print(s,end=" ") 
  print()

6 8 5 8 6 4 7 7 5 4 * 60
8 6 8 7 9 6 4 3 0 3 * 54
2 5 7 7 6 4 3 7 8 2 * 51
0 4 6 7 9 5 6 1 2 8 * 48
8 3 0 1 9 6 6 7 6 3 * 49
1 6 2 4 9 6 5 1 8 6 * 48
1 8 7 3 4 7 5 4 6 7 * 52
8 5 2 7 9 5 0 4 3 3 * 46
6 7 1 0 6 3 5 5 6 0 * 39
1 9 4 0 9 0 5 8 9 3 * 48

# 4.Surround the matrix with asterisks

In [9]:
for i in range(12):
  for j in range(25):
    if ((i==0) or (i==11)):
      print("*", end="")
    elif ((j==0) or (j==12)):
      print("*", end=" ")
    elif((j>0)and(j<12)):
    #else:
      print(random.randint(0,9),end=" ")
  print()

*************************
* 0 3 7 6 9 6 6 3 6 1 3 *
* 3 6 8 8 1 1 3 0 8 0 9 *
* 2 5 2 4 1 2 5 7 4 4 2 *
* 2 2 1 2 8 5 9 8 7 8 0 *
* 9 0 8 0 7 9 8 7 2 0 4 *
* 4 1 2 7 2 1 5 6 6 4 0 *
* 0 1 2 3 0 5 6 1 2 8 5 *
* 3 6 5 4 3 5 3 1 9 8 2 *
* 7 8 3 5 7 5 5 3 9 1 2 *
* 5 3 6 9 1 0 5 1 7 3 3 *
*************************

# 5. Calculating and Printing the total of each row and column

In [10]:
l=[]
for i in range(12):
  k=[]
  for j in range(12):
    if ((i<10)and(j<10)):
      x=random.randint(1,9)
      l.append(x)
      k.append(x)
      print(x,end="  ")
    elif (((i==10)and(j<10))or((j==10)and(i<10))):
      print("*",end="  ")
    elif ((j<10)and(i==11)):
        s=0
        n=j
        while n<100:
          s=s+l[n]
          n=n+10
        print(s,end=" ") 
    elif((j==11)and(i<10)):
        r=sum(k) 
        print(r,end=" ")
  print()

3  5  2  1  8  3  1  6  2  2  *  33
8  7  3  5  4  3  6  5  8  1  *  50
4  8  5  6  2  6  3  9  6  2  *  51
7  4  8  8  7  1  7  9  8  2  *  61
6  5  3  8  3  8  6  8  6  8  *  61
5  2  2  2  4  9  7  5  3  3  *  42
2  5  9  6  4  8  4  6  2  3  *  49
2  7  1  9  5  1  5  4  8  6  *  48
9  1  8  2  2  8  7  3  3  2  *  45
5  6  6  7  4  8  9  8  7  3  *  63
*  *  *  *  *  *  *  *  *  *
51 50 47 54 43 55 55 63 53 32